# Set default behavior to automatically normalize line endings
* text=auto

# Declare files that will always have LF line endings on checkout
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.lock text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.pre-commit-config.yaml text eol=lf
.python-version text eol=lf
